/* start header style */
.container-fluid {
    padding: 0;
}

#first-header {
    width: 100%;
    background-color: #37383c;
}

#first-header .additional-info {
    font-size: 12px;
    line-height: 37px;
    color: #92999a;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#second-header {
    font-size: 15px;
    line-height: 37px;
    color: #92999a;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#first-header #truck {
    padding-left: 4.8%;
}

#first-header #box {
    padding-right: 2%;
}

#second-header {
    padding: 30px 15px;
}

#second-header #inst-fb-logo #insta-logo {
    margin-right: 40%;
}

#second-header #product-about #product, #about-us {
    margin-left: 13%;
}

#second-header #product-about #about-us {
    margin-left: 11%;
}

#second-header #main-logo img {
    max-width: 100%;
}

#second-header #blog-life #life-coach {
    margin-left: 20%;
}

#second-header #shop-user-logo #buy {
    margin-right: 47%;
}
/* end header style */

/* start product block */
#shop #product-block {
    margin-top: 120px;
}

#shop #string-mind p {
    font-size: 50px;
    font-family: "Work Sans", sans-serif;
    color: rgb(113, 123, 127);
    line-height: 1.2;
    font-weight: lighter;
}

#shop #subtitle-text {
    margin-top: 22px;
}
#shop #subtitle-text p {
    font-size: 15px;
    font-family: "Work Sans", sans-serif;
    color: rgb(141, 151, 155);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

#shop #raiting-comments #comments {
    display: inline;
    margin-left: 32px;
}

#shop #raiting-comments p {
    display: inline;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    color: rgb(141, 150, 153);
    text-decoration: underline;
    line-height: 1.2;
}
/* end product block */

